html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}
header {
    padding: 10px;
    text-align: left; /* Align text to the left */
}
header, footer {
    background-color: #ebf489;
    padding: 10px;
}
footer {
    margin-top: auto; 
    text-align: center;
}
.content {
    flex: 1; 
}
main {
    padding: 20px;
    text-align: center;

}
ul.horizontal-list {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: grid; 
    grid-auto-flow: column; 
    column-gap: 20px; 
}
a.logo {
    text-decoration: none; 
    color: #333; 
}
/* Custom Button Styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004080;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
    border: 1px solid #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #4e555b;
}
