html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}
header, footer {
    background-color: #ebf489;
    padding: 10px;
    text-align: center;
}
footer {
    margin-top: auto; 
}
.content {
    flex: 1; 
}
main {
    padding: 20px;
    text-align: center;

}