{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}


{% block title %}Question Detail{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'polls:index' %}">{% trans "Polls" %}</a></li>
      <li class="breadcrumb-item active"><a href="#">{% trans "Question" %} {{ question.pk }}</a></li>
    </ol>
</nav>
{% if active_agent in question.get_voting_agents %}
<div class="alert alert-success">
    <p>{% trans "You already voted" %}</p>
    <a href="{% url 'polls:index' %}" class="btn btn-primary">{% trans "Polls" %}</a>
    <a href="{% url 'polls:results' question.pk %}" class="btn btn-primary">{% trans "See results" %}</a>
</div>
{% else %}
<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>
            <h1>{% trans "Question" %} {{ question.pk }}</h1>
            <h2>{{ question.question_text }}</h2>
        </legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
        {% for classification in question.classification_set.all %}
            <div class="container">
                <div class="row align-items-center">
                    <div class="col">
                        {%trans "Safe" %}
                    </div>
                    <div class="col">
                        <label class="form-label" for="customRange1" id="rangeLabel{{ forloop.counter }}">{%trans "Chance of fraud" %}</label>
                        <div data-mdb-range-init class="range">
                        <input type="range" class="form-range" step="0.5" name="classification{{classification.pk}}" oninput="updateValue(this.value)"/>
                        </div>
                        <script type="text/javascript">
                            function updateValue(value) {
                                document.getElementById("rangeLabel{{forloop.counter}}").textContent = value;
                            }
                        </script>
                    </div>
                    <div class="col">
                        {%trans "Fraud" %}
                    </div>
                </div> 
        {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
</form>
{%endif%}
{% endblock %}

