{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}


{% block title %}Poll Detail{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'polls:index' %}">{% trans "Polls" %}</a></li>
      <li class="breadcrumb-item active"><a href="#">{% trans "Question" %} {{ question.pk }}</a></li>
    </ol>
</nav>
<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>
            <h1>{% trans "Question" %} {{ question.pk }}</h1>
            <h2>{{ question.question_text }}</h2>
        </legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
</form>
{% endblock %}

