{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}


{% block title %}Question{% endblock %}

{% block content %}

{% if active_agent %}
<div class="alert alert-success">
    <p>{% trans "You already voted" %}</p>
    <a href="{% url 'polls:leaderboard' %}" class="btn btn-primary">{% trans "Leaderboard" %}</a>
</div>
{% else %}
<form action="{% url 'polls:submit_test' questiongroup.id%}" method="post">
{% csrf_token %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div id="carouselControls" class="carousel slide" data-bs-ride="false">
  <div class="carousel-inner fill">
    <div class="carousel-item active">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/i8LDG7D4e6w?si=MWEvSplkx-b2yQ2y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    {%for question in questiongroup.questions.all %}
    <div class="carousel-item">
      <div class="container-sm mt-4">
        <div class="card h-100" style="height: 300px">
            <div class="card-header text-start">
                Question #{{question.pk}}
            </div>
            <div class="card-body overflow-scroll">
                <p class="card text-start" style="white-space: pre-wrap;">
                    {{question.question_text}}
                </p>
            </div>
        </div>
      </div>
        {% for classification in question.classification_set.all %}
          <div class="container">
            <div class="row align-items-center">
              <div class="col">
                  {%trans "Safe" %}
              </div>
              <div class="col">
                  <label class="form-label" for="customRange1" id="rangeLabel{{ forloop.counter }}">{%trans "Chance of fraud" %}</label>
                  <div data-mdb-range-init class="range">
                  <input type="range" class="form-range" step="0.5" name="classification{{classification.pk}}q{{question.id}}" oninput="updateValue(this.value)"/>
                  </div>
                  <script type="text/javascript">
                      function updateValue(value) {
                          document.getElementById("rangeLabel{{forloop.counter}}").textContent = value;
                      }
                  </script>
              </div>
              <div class="col">
                  {%trans "Fraud" %}
              </div>
        </div> 
      </div>
      {% endfor %}
    </div>
    {%endfor%}
    <div class="carousel-item">
      <div class="container-sm mt-4">
        <h2>{%trans "Almost there! please fill out as much information as you can to support our research."%}</h2>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% csrf_token %}
        
        {% bootstrap_form form %}
            
        {% bootstrap_button button_type="submit" content="OK" %}
        {% bootstrap_button button_type="reset" content="Cancel" %}
      </div>
    </div>
  </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{%endif%}
{% endblock %}

