{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}


{% block title %}Question{% endblock %}

{% block content %}

{% if active_agent %}
<div class="alert alert-success">
    <p>{% trans "You already voted" %}</p>
    <a href="{% url 'polls:leaderboard' %}" class="btn btn-primary">{% trans "Leaderboard" %}</a>
    <a href="{% url 'polls:test_result' questiongroup.slug %}" class="btn btn-primary">{% trans "Results" %}</a>

</div>
{% else %}
<form action="{% url 'polls:submit_test' questiongroup.id%}" method="post">
{% csrf_token %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<div id="carouselControls" class="carousel slide carousel-dark" data-bs-interval="false" data-bs-touch="false" data-bs-wrap="false">
  <div class="carousel-indicators" style="bottom: auto;">
    <button type="button" data-bs-target="#carouselControls" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    {%for question in questiongroup.questions.all %}
    <button type="button" data-bs-target="#carouselControls" data-bs-slide-to="{{forloop.counter}}" aria-label="Slide{{forloop.counter}}"></button>
    {%endfor%}
    <button type="button" data-bs-target="#carouselControls" data-bs-slide-to="-1" aria-label="last"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card h-100" style="height: 300px">
        <div class="card-header text-start">
            {%trans "Welcome to ICIA"%}
        </div>
        <div class="card-body">
            <iframe src="https://www.youtube.com/embed/i8LDG7D4e6w?si=MWEvSplkx-b2yQ2y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="card text-start" style="white-space: pre-wrap;">
              {%trans "Recent times have seen a considerable increase in fraudulent digital activity. How good are you at telling apart real e-mails from fraudulent ones? find out!"%}
            </p>
            <button class="btn btn-danger w-100" type="button" data-bs-toggle="modal" data-bs-target="#modal">
              {%trans "Tips"%}
            </button>
        </div>
    </div>
    </div>
    {%for question in questiongroup.questions.all %}
    <div class="carousel-item" style="height: fit-content;">
      <div class="container-fluid">
        <div class="card h-100" style="height: 300px">
            <div class="card-header text-start">
                Question #{{question.pk}}
            </div>
            <div class="card-body h-100">
                <p class="card text-start" style="white-space: pre-wrap;">
                    {{question.question_text}}
                </p>
            </div>
        </div>
        {% with classification as question.classification_set.first %}
          <div id="rangeContainer{{forloop.counter}}" class="container-fluid border border-primary">
            <div class="row align-items-center">
              <div id="safeTag{{forloop.counter}}" class="col">
                  {%trans "Safe" %}
              </div>
              <div class="col">
                  {%trans "Chance" %}
                  <label class="form-label shadow border" for="customRange1" id="rangeLabel{{forloop.counter}}">50</label>%
              </div>
              <div id="fraudTag{{forloop.counter}}" class="col">
                {%trans "Fraud" %}
              </div>
            </div> 
            <div data-mdb-range-init class="range">
              <input type="range" class="form-range" step="10" name="classification{{question.id}}" oninput="updateValue(this.value, {{forloop.counter}})"/>
            </div>
            <label for="inputPassword5" class="form-label">{%trans "Reasoning"%}</label>
            <input type="text" name="description{{question.id}}" class="form-control" aria-describedby="tipDescript">
            <div id="tipDescript" class="form-text">
              {%trans "Feel free to comment on your reasoning for this evaluation. For example: words that could indicate scam or phishing attempt"%}
            </div>
      </div>
      {% endwith %}
    </div>
    </div>
    {%endfor%}
    <div id="finalItem" class="carousel-item">
      <div class="container-sm mt-4">
        <h2 class="display-4">{%trans "Almost there! please fill out as much information as you can to support our research."%}</h2>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% csrf_token %}
        
        {% bootstrap_form form %}
            
        {% bootstrap_button button_type="submit" content="OK" %}
        {% bootstrap_button button_type="reset" content="Cancel" %}
      </div>
    </div>
  </div>      
</div>

  <div id="carouselControlBtns" class="btn-group fixed-bottom" style="height: 13%;" role="group" aria-label="Basic example" enabled="true">
    <button type="button" class="btn btn-success" data-bs-target="#carouselControls" data-bs-slide="prev">&laquo;Prev</button>
    <button type="button" class="btn btn-success" data-bs-target="#carouselControls" data-bs-slide="next">Next&raquo;</button>
  </div>
<script>
  var myCarousel = document.getElementById('carouselControls')

  myCarousel.addEventListener('slide.bs.carousel', function (slide) {
    if (slide.relatedTarget.id == "finalItem") {
        document.getElementById('carouselControlBtns').setAttribute('hidden','true')
    }
  })

</script>
<script type="text/javascript">
  function updateValue(value, id) {
    label = document.getElementById("rangeLabel"+id) 
    label.textContent = value;
    safe = document.getElementById("safeTag"+id) 
    fraud = document.getElementById("fraudTag"+id) 
    container = document.getElementById("rangeContainer"+id) 
    if (value < 50) {
      container.classList.add('border-success');
      container.classList.remove('border-danger');

      safe.classList.add('mark');
      fraud.classList.remove('mark');
    } else {
      container.classList.add('border-danger');
      container.classList.remove('border-success');

      fraud.classList.add('mark');
      safe.classList.remove('mark');
    }
  }
</script>
{%endif%}
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{%trans "Tips"%}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">{%trans "0% means you are certain the e-mail is safe. 100% means it is definitely fraudulent" %}</li>
          <li class="list-group-item">{%trans "Every e-mail is real and can be either fraudulent or not" %}</li>
          <li class="list-group-item">{%trans "Not every fraudulent e-mail is a direct scam" %}</li>
          <li class="list-group-item">{%trans "Be decisive! You lose points if you stay on the fence" %}</li>
          <li class="list-group-item">{%trans "Scroll right or click next to proceed" %}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

