<!-- templates/registration/signup.html -->
{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}


{% block title %}Sign Up{% endblock %}

{% block content %}
{% if registration_open %}
<h2 class="display-3">{%trans "Sign up" %}</h2>
<form method="post" class="form">
  {% csrf_token %}

  {% bootstrap_form form %}

  {% bootstrap_button button_type="submit" content="Sign up" %}
  {% bootstrap_button button_type="reset" content="Cancel" %}
</form>
{% else %}
<div class="alert alert-warning">
  <p>{% trans "Registration is not allowed at the moment! But you can still answer the quiz" %}</p>
  <a href="{% url 'polls:test_list' %}" class="btn btn-primary">{% trans "Quiz" %}</a>
</div>
{%endif%}
{% endblock %}