{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}


{% block title %}Agent Client{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'agents:index' %}">{% trans "Agents" %}</a></li>
      <li class="breadcrumb-item active"><a href="#">{% trans "Client" %} {{ AgentClient.label }}</a></li>
    </ol>
</nav>
{% if user != agentclient.agent.user %}
<div class="alert alert-failure">
    <p>{% trans "This Client belongs to another user" %}</p>
    <a href="{% url 'agents:index' %}" class="btn btn-primary">{% trans "Agents" %}</a>
</div>
{% else %}
<h1>{%trans "Agent tuning "%} {{ object.label }}</h1>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      {%trans "Question "%}{{ active_question.first.pk|default:"Choose question" }}
    </button>
    <ul class="dropdown-menu" aria-labelledby="questionSelection" style="max-lines: 5;">
    {%for question in questions%}
      <li><a class="dropdown-item" href="?question={{question.pk}}">Question #{{question.pk}}</a></li>
    {%endfor%}
    </ul>
</div>
<form action="{% url 'agents:autovote' agentclient.slug %}" method="post">
    {% csrf_token %}
    <fieldset>
        <div class="container-sm mt-4"></div>
        <div class="card h-100" >
            <div class="card-header text-start">
                {%trans "Edit prompt" %}
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card-body">
                            <textarea class="form-control" id="promptTextArea" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-body overflow-scroll">
                            <p class="card text-start" style="white-space: pre-wrap;">
                                {{ active_question.first.question_text }}
                            </p>
                        </div>
                    </div>
                    
                </div>

            </div>
          </div>
        </div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </fieldset>
    <input type="hidden" name="question_id" value="{{active_question.first.pk}}">
    <input type="submit" value="Vote">
</form>
{%endif%}
{% endblock %}

