{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}


{% block title %}Agents{% endblock %}


{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
      <li class="breadcrumb-item active"><a href="#">{% trans "Agents" %}</a></li>
    </ol>
</nav>
{% if agent_list %}
<div class="row row-cols-1 row-cols-md-3 g-4">
        {% for agent in agent_list %}
        <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">{{ agent.label }}</h5>
                <p class="card-text">{{ agent.agent.score }}</p>
              </div>
              <div class="card-body">
                <a href="{% url 'agents:detail' agent.slug %}" class="btn btn-primary stretched-link">{% trans "Details" %}</a>
                <a href="{% url 'agents:voting' agent.slug %}" class="btn btn-primary stretched-link">{% trans "Auto vote" %}</a>
              </div>
              <div class="card-footer">
                <small class="text-muted">Owner: {{ agent.owner }}</small>
              </div>
            </div>
          </div>
        {% endfor %}
</div>

{% else %}
    <p>No agents are available.</p>
{% endif %}
{% endblock %}