{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}


{% block title %}Auto vote{% endblock %}

{% block content %}
<style>
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spinner-border {
        width: 3rem;
        height: 3rem;
        border-width: 0.3rem;
    }

    .hidden {
        display: none;
    }
</style>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'agents:index' %}">{% trans "Agents" %}</a></li>
      <li class="breadcrumb-item active"><a href="#">{% trans "Client" %} {{ AgentClient.label }}</a></li>
    </ol>
</nav>
{% if user != agentclient.owner %}
<div class="alert alert-failure">
    <p>{% trans "This Client belongs to another user" %}</p>
    <a href="{% url 'agents:index' %}" class="btn btn-primary">{% trans "Agents" %}</a>
</div>
{% else %}
<h1>{%trans "Agent voting "%} {{ object.label }}</h1>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      {%trans "Question group: "%}{{ active_question.first.pk|default:"Choose question group" }}
    </button>
    <ul class="dropdown-menu" aria-labelledby="questionSelection" style="max-lines: 5;">
    {%for question in questions%}
      <li><a class="dropdown-item" onclick="updateURLParameter('question', '{{question.pk}}')">Question group #{{question.pk}}</a></li>
    {%endfor%}
    </ul>
</div>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      {%trans "Settings: "%}{{ active_settings.first.model|default:"Choose client settings" }}
    </button>
    <ul class="dropdown-menu" aria-labelledby="questionSelection" style="max-lines: 5;">
    {%for set in settingsList%}
      <li><a class="dropdown-item" onclick="updateURLParameter('settings', '{{set.pk}}')">{{set.model}} T {{set.temperature}}</a></li>
    {%endfor%}
    </ul>
</div>
<form id="query_form" action="{% url 'agents:autovote' agentclient.slug %}" method="post">
    {% csrf_token %}
    <fieldset>
        <div class="container-sm mt-4"></div>
        <div class="card h-100" >
            <div class="card-header text-start">
                {%trans "Edit prompt" %}
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card-body">
                            <textarea class="form-control" id="promptTextArea" oninput="updateHiddenInput()" rows="3">{{object.default_prompt}}</textarea>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-body overflow-scroll">
                            <ul class="list-group">
                                <li class="list-group-item"> {%trans "Model"%} {{active_settings.first.model}} </li>
                                <li class="list-group-item"> {%trans "Temperature"%} {{active_settings.first.temperature}} </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </fieldset>
    <input type="hidden" name="prompt" id="prompt" value=promptTextArea.val>
    <input type="hidden" name="settings_id" value="{{active_settings.first.pk}}">
    <input type="hidden" name="question_id" value="{{active_question.first.pk}}">
    <input type="numeric" name="iterations" value="1">{%trans "Iterations"%}
    <input type="submit" value="Vote" >
</form>
<div id="overlay" class="overlay hidden">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<script>
    function updateHiddenInput() {
        var promptTextArea = document.getElementById('promptTextArea');
        var promptHiddenInput = document.getElementById('prompt');
        promptHiddenInput.value = promptTextArea.value;
    }

    document.addEventListener('DOMContentLoaded', function() {
            updateHiddenInput();
            var form = document.getElementById('query_form');
            form.addEventListener('submit', function() {
                document.getElementById('overlay').classList.remove('hidden');
            });
        });
</script>
<script>
    function updateURLParameter(param, value) {
        var url = new URL(window.location.href);
        url.searchParams.set(param, value);
        window.location.href = url.toString();
    }
</script>
{%endif%}
{% endblock %}

