{% extends 'base.html' %}
{% load i18n %}


{% block title %}About{% endblock %}

{% block content %}



<main>
    <h1>{%trans "About Us"%}</h1>
    <div class="container">
        <h2>{% trans "Our Mission"%}</h2>
        <p>{% trans "Our mission is to explore the possibilities of cooperation between intelligent agents of different natures. Artificial and human." %}</p>

        <h2>{%trans "Our Team" %}</h2>
        <p>{% trans "The project was conducted by Daniel Salles with orientation of Professor Alexandre Graeml" %}</p>

        <h2>{%trans "Contact Us"%}</h2>
        <p>{% trans "Github" %}</p>
    </div>
</main>
{% endblock %}