<!-- templates/base.html -->
<!DOCTYPE html>
<html>

<head>
  {% load django_bootstrap5 %}
  {% load static %}
  {% load i18n %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}ICIA{% endblock %}</title>
</head>

<header>
  <h1><a class="logo" href="{% url 'home' %}">IC.IA</a></h1>
</header>

<body class="body">

  <main>
    <p>
      {% block content %}
      {% endblock %}
    </p>
  </main>

</body>

<footer class="footer">
  <p>&copy; 2024 ICIA - UTFPR</p>
  <a href="{% url 'about' %}">{%trans "About us" %}</a>
</footer>

</html>
