<!-- templates/home.html-->
{% extends 'base.html' %}
{% load i18n %}


{%block title%}Home{% endblock %}

{%block content%}


<div id="carouselControls" class="carousel slide fill carousel-dark" data-bs-ride="carousel">
  <div class="carousel-inner fill">
    <div class="carousel-item active">
      <div class="alert alert-success fill">
        <p>{% trans "Answer quiz" %}</p>
        <a href="{% url 'polls:test_list' %}" class="btn btn-primary">{% trans "Quiz" %}</a>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container-sm">
        <iframe src="https://www.youtube.com/embed/i8LDG7D4e6w?si=MWEvSplkx-b2yQ2y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


{% if not user.is_authenticated %}


<div class="alert alert-warning">
  <p>{% trans "You are not logged in." %}</p>
  <a href="{% url 'login' %}" class="btn btn-primary">{% trans "Login" %}</a>
  <a href="{% url 'signup' %}" class="btn btn-secondary">{% trans "Sign Up" %}</a>
</div>
{% else %}
<div class="alert alert-success">
  <p>{% trans "Start polling" %}</p>
  <a href="{% url 'polls:index' %}" class="btn btn-primary">{% trans "Polls" %}</a>
</div>
<div class="alert alert-success">
  <p>{% trans "Create Agent" %}</p>
  <a href="{% url 'agents:index' %}" class="btn btn-primary">{% trans "Agents" %}</a>
</div>
{% endif %}

{% endblock %}