<!-- templates/home.html-->
{% extends 'base.html' %}
{% load i18n %}


{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hi {{ user.username }}!
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>
{% else %}
<ul class="horizontal-list">
  <li><p>{% trans "You are not logged in" %}</p></li>
  <li><a href="{% url 'login' %}">Log In</a></li>
  <li><a href="{% url 'signup' %}">Sign</a></li>
</ul>
{% endif %}
{% endblock %}